<!-- Header -->
<%- include('header'); %>
<link rel="stylesheet" href="/dashboardStyle.css">
<title>Dashboard</title>

<!-- Navigation -->
<%- include('navigation'); %>


<% for( var i = 0; i<=categories.length-1; i++) { %>
    <!-- Book category area -->
    <div class="header"><%= categories[i].book_category %></div>
    <div class="count"><%= booksPerCategoryCount[categories[i].book_category] %></div>
    <div class="minimize minimize-<%=i%>" id="minimize-<%=i%>"><i class="fa fa-angle-up" id="icon-<%=i%>" onclick="minimize(<%=i%>)"
            aria-hidden="true"></i>
    </div>
    <hr class="categoryHr">
    <div class="bookArea finished area-<%=i%>">
        <% for( var j = 0; j <= result.length-1; j++) { %>
        <% if(result[j].book_category==categories[i].book_category) { %>
        <a href="/book?id=<%=result[j].book_id%>">
            <div class="book">
                <div class="book--title"><%= result[j].book_title %></div>
                <div class="book--author">by <%= result[j].book_author %></div>
            </div>
        </a>
        <% } %>
        <% } %>
    </div>
<% } %>

<!-- Add book button -->
<% if(user_type == "teacher" || user_type == "admin") { %>
    <div class="bottom-buttons-container">
        <% if(myBooks) { %>
            <a class="add_button" href='/dashboard' style="background-color: #3a9c53;"><i class="fa fa-book" aria-hidden="true"></i></a>
        <% } else { %>
            <a class="add_button" href='/dashboard?mybooks=true'><i class="fa fa-book" aria-hidden="true"></i></a>
        <% } %>
        <a class="add_button" href='/dashboard/add_book'>Add book</a>
        <% if(user_type == "admin") { %>
            <a class="add_button" href='/dashboard/teachers'>Teachers</a>
        <% } %>
    </div>
<% } %>

<!-- Js for minimizing book area -->
<script>

    function minimize(number) {
        // Minimizing or maximizing book area
        if (document.querySelector('.area-' + number).clientHeight !== 0)
            document.querySelector('.area-' + number).style.height = "0px";
        else
            document.querySelector('.area-' + number).style.height = "initial";

        //Rotating arrow when minimizing or maximizing
        if (document.getElementById('icon-' + number).className == "fa fa-angle-up")
            document.getElementById('icon-' + number).className = "fa fa-angle-down";
        else
            document.getElementById('icon-' + number).className = "fa fa-angle-up";
    }

</script>
</body>

</html>