<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bookStyle.css">
    <title>Bookify - <%= book.book_title %></title>
</head>
<div class="navbar">
    <ul>
        <a href="/">
            <li class="nav--title">BOOKIFY</li>
        </a>
        <a href="#">
            <li class="nav--small">Profile</li>
        </a>
    </ul>
</div>

<body>
    <div class="content">
        <div class="book--area">
            <div class="book--title"><%= book.book_title %></div>
            <div class="book--author">by <%= book.book_author %></div>
            <div class="book--category">Category: <%= book.book_category %></div>
            <div class="book--progress">Progress: <%= book.book_progress %></div>
            <% if (book.book_link) { %>
            <a class="book--link" href="<%= book.book_link %>" target="_blank">Link</a>
            <% } %>
            <form action="/book/action/save_notes?id=<%= book.book_id %>" method="POST" id="edit_notes"
                name="edit_notes">
                <button type="submit" class="save_notes">Save notes</button>
            </form>

            <a href="/edit_book?id=<%= book.book_id %>" class="edit_book">Edit book </a>
            <a href="/book/action/delete?id=<%= book.book_id %>" class="delete_book">Delete book </a>
        </div>
        <div class="notes--area">
            <textarea name="notes" id="notes" form="edit_notes" class="book--notes"
                placeholder="Store your book notes here"><%= book.book_notes %></textarea>
        </div>

    </div>

</body>

</html>